@media (max-width: 1440px) {
    .frame {
        grid-template-columns: 630px 630px;
        gap: 26px;
    }

    .frame__natural {
        background-size: 630px 378px;
    }

    .frame__offer {
        background-size: 630px 378px;
    }

    .about__content {
        gap: 20px;
    }

    .about__img,
    .about__content__items {
        width: calc(647px - 15px);
    }

    .about__img img {
        width: 632px;
    }

    .about__content__items p {
        width: 631px;
    }

    .about__content__item__img {
        height: 89px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .about__content__item__img img {
        top: 20px;
        left: 14px;
    }

    .about__content__item img:last-child {
        top: 20px;
        left: 14px;
    }

    .catalog__items {
        grid-template-columns: 415px 415px 415px;
    }

    .products__catalog {
        grid-template-columns: 415px 415px 415px;
    }

    .container__categories {
        gap: 25px;
    }

    iframe {
        width: 100%;
    }


    
}

@media (max-width: 1368px) {

    .frame {
        grid-template-columns: 563px 563px;
        gap: 16px;
    }

    .frame__natural {
        background-size: 563px 378px;
    }

    .frame__offer {
        background-size: 563px 378px;
    }

    .about__content {
        justify-content: start;
    }

    .about__content {
        display: grid;
        gap: 42px;
        grid-template-columns: 560px 540px;
    }

    .about__img {
        width: 550px;
    }


    .about__content__items {
        width: 538px;
    }

    .about__img img {
    width: 550px;
    height: 642px;
    }

    .about__content__items p {
        width: auto;
    }

    .about__content__item {
        gap: 10px;
    }
    
    .about__content__item__img {
        height: 85px;
    }

    .about__content__item img {
        top: 14px;
        left: 14px;
    }


    .catalog__items {
        grid-template-columns: 447px 447px;
        justify-content: center;
    }

    .products__catalog {
        grid-template-columns: 223px 223px 223px 223px;
        grid-template-rows: 590px 590px;
        justify-content: center;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .item3 {
        grid-column-start: 2;
        grid-column-end: 4;
    
    }

    .container__categories {
        grid-template-columns: 230px 230px 230px 230px;
        grid-template-rows: 580px 580px;
        justify-content: center;
    }

    .categories__item {
        background-size: cover;
    }

    .juice {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .food {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .cookies {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .contacts {
        width: 235px;
    }

    .contacts__items {
        margin-left: 0px;
    }

    .contacts__item a, .pages__item {
        font-size: 14px;
    }
}

@media (max-width: 1280px) {

    .frame {
        grid-template-columns: 563px 563px;
        gap: 16px;
    }

    .frame__natural {
        background-size: 563px 378px;
    }

    .frame__offer {
        background-size: 563px 378px;
    }

    .about__content {
        justify-content: start;
    }

    .about__content {
        display: grid;
        gap: 42px;
        grid-template-columns: 560px 540px;
    }

    .about__img {
        width: 550px;
    }


    .about__content__items {
        width: 538px;
    }

    .about__img img {
    width: 550px;
    height: 642px;
    }

    .about__content__items p {
        width: auto;
    }

    .about__content__item {
        gap: 10px;
    }
    
    .about__content__item__img {
        height: 85px;
    }

    .about__content__item img {
        top: 14px;
        left: 14px;
    }


    .catalog__items {
        grid-template-columns: 447px 447px;
        justify-content: center;
    }

    .products__catalog {
        grid-template-columns: 223px 223px 223px 223px;
        grid-template-rows: 590px 590px;
        justify-content: center;
    }

    .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .item2 {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .item3 {
        grid-column-start: 2;
        grid-column-end: 4;
    
    }

    .container__categories {
        grid-template-columns: 230px 230px 230px 230px;
        grid-template-rows: 580px 580px;
        justify-content: center;
    }

    .categories__item {
        background-size: cover;
    }

    .juice {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .food {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .cookies {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .contacts {
        width: 235px;
    }

    .contacts__items {
        margin-left: 0px;
    }

    .contacts__item a, .pages__item {
        font-size: 14px;
    }
}

@media (max-width: 1024px) {

    .logo {
        margin-right: 24px;
    }

    .frame {
        grid-template-columns: 675px;
        justify-content: center;
    }

    .frame__natural {
        background-size: cover;
    }

    .frame__offer {
        background-size: cover;
    }

    .about__content {
        grid-template-columns: 675px;
        justify-content: center;
    }

    .about__img {
        width: 675px;
    }

    .about__img img {
        width: 675px;
    }

    .about__content__items {
        width: 675px;
    }

    .statistics__item {
        width: 250px;
        height: 194px;
    }

    .statistics__item span:first-child {
        font-size: 29px;
    }

    .statistics__item span:last-child {
        font-size: 14px;
    }

    .products__catalog {
        grid-template-columns: 213px 213px 213px 213px;
    }

    .right__console {
        width: 589px;
    }
}

@media (max-width: 768px) {

    .nav__panel {
        flex-direction: column;
        padding: 16px 0;
        align-items: center;
    }

    .logo {
        width: 200px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .nav__panel .nav {
        margin-bottom: 10px;
    }

    .nav__button {
        margin-left: 0px;
    }

    .section__content__header {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .frame {
        margin: 70px 0px 65px 0px;
    }

    .about__content {
        padding-top: 61px;
        padding-bottom: 65px;
    }

    .about__content__item__img {
        width: 79px
    }

    .catalog__section {
        padding-top: 57px;
    }

    .catalog__items {
        grid-template-columns: 447px;
        margin-bottom: 70px;
    }

    .section__review {
        background-size: 100vw;
    }

    .review__content {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .review__content__user p:last-child {
        margin-bottom: 36px;
    }

    .review__content__statistics {
        margin-top: 45px;
    }

    .statistics__item {
        width: 250px;
        height: 133px;
    }

    .statistics__item span:first-child {
        font-size: 25px;
    }

    .statistics__item span:last-child {
        font-size: 13px;
        letter-spacing: 0.24px;
    }

    .products__catalog {
        grid-template-columns: 447px;
        justify-content: center;
    }

    .item1 {
        grid-column-start: 1; 
        grid-column-end: 1; 
    }

    .item2 {
        grid-column-start: 1; 
        grid-column-end: 1;
    }

    .item3 {
        grid-column-start: 1; 
        grid-column-end: 1;
    }

    .categories__section {
        padding: 55px 0px 55px 0px;
    }

    .container__categories {
        height: 815px;

        grid-template-columns: 150px 150px 150px 150px;
        grid-template-rows: 400px;
        justify-content: center;
    }

    .juice {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .food {
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .cookies {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .categories__button {
        font-size: 19px;
        padding: 20px 65px 20px 65px;
    }

    .form {
        padding: 45px 0px 45px 45px;
    }

    .form h3 {
        font-size: 34px;
        line-height: 32px;
        letter-spacing: 0.12px;
        display: flex;
        align-items: center;
    }

    .right__console input {
        padding: 13px 78px 13px 30px;
    }

    .right__console { 
        flex-direction: column;
        align-items: flex-start;
    }

    .form__btn {
        width: 183px;
        height: 58px;
        margin-left: 0px;
        margin-top: 15px;
    }

    .vector3 {
        margin-left: 8px;
    }

    .vector4 {
        top: 22px;
        right: 15px;
    }

    .footer__content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__about__us {
        order: -1;
    }

    .contacts h2, .pages h2 {
        text-align: center;
    }

    .contacts h2 {
        margin-bottom: 20px;
    }

    .contacts__items li {
        text-align: center;
        padding-left: 0px; 
    }
    .contacts__item a {
        margin-bottom: 23px;
    }

    .pages__items {
        text-align: center;
    }


}

@media (max-width: 425px) {
    .nav__item:not(:last-child) {
        margin-right: 27px;
    }

    .nav__item a {
        font-size: 17px;
        line-height: 28px;
    }

    .section__content__header h1 {
        font-size: 60px;
    }

    .frame {
        grid-template-columns: 373px;
        grid-template-rows: auto;
    }

    .frame__natural {
        background-size: 373px;
        padding: 31px 0px 8px 50px;
    }

    .frame h3 {
        font-size: 31px;
    }

    .frame h2 {
        font-size: 32px;
    }

    .frame__offer {
        background-size: 373px;
        padding: 26px 0px 14px 50px;
    }

    .about__img {
        width: 373px;
        margin: 0 auto;
    }

    .about__img img {
        width: 371px;
        height: 388px;
    }

    .about__content__items {
        width: 373px;
        margin: 0 auto;
    }

    .about__content__items h2, .product__header h2 {
        font-size: 32px;
    }

    .about__content__item__img {
        width: 80px;
        height: 49px;
    }

    .about__content__item__img img {
        width: 35px;
        
    }

    .about__content__item img:last-child {
        top: 7px;
        left: 5px;
    }

    .catalog__items {
        grid-template-columns: 371px;  
        grid-template-rows: 541px;
    }

    .catalog__item__footer span {
        line-height: 20.4px;
        letter-spacing: -0.64px;
    }

    .review__content h2 {
        font-size: 43px;
    }

    .statistics__item {
        width: 250px;
        height: 67px;
    }

    .statistics__item span:first-child {
        line-height: 17.6px;
    }

    .statistics__item span:last-child {
        line-height: 9.4px;  
    }

    .product__header {
        padding-top: 40px;
        padding-bottom: 40px;
        flex-direction: column;
    }

    .products__catalog {
        grid-template-columns: 373px;
        grid-template-rows: 521px; 
        padding-bottom: 50px
    }

    .about__us_section {
        padding: 40px 23px 40px 45px;
    }

    .about_us {
        padding: 20px 18px 29px 23px;
    }
    .about_us h2 {
        font-size: 39px;
        line-height: 37.5px;
    }

    .container__categories {
        height: 1275px;
        grid-template-columns: 320px;
    }

    .juice {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .food {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .cookies {
        grid-column-start: 1;
        grid-column-end: 1;
    }

    .form {
        flex-direction: column;
        padding: 31px 0px 27px 20px;
    }

    .form h3 {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .right__console {
        width: 326px;
        margin-left: 0px;
    }

}

@media (max-width: 375px) {
    .nav__item:not(:last-child) {
        margin-right: 16px;
    }

    .section__content__header {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .section__content__header h1 {
        line-height: 58px;
    }

    .frame {
        grid-template-columns: 333px;
        grid-template-rows: 191px 191px;
        margin: 30px 0px 30px 0px;
    }

    .frame__natural,
    .frame__offer {
        background-size: 333px;
        padding: 37px 0px 8px 39px;
    }

    .frame h3 {
        font-size: 29px;
        line-height: 40.8px;
    }

    .frame h2 {
        line-height: 32px;  
    }

    .about__content__items {
        width: 330px;
    }

    .about__content__item__img img {
        width: 31px;
    }

    .about__content__item img:last-child {
        top: 10px;
        left: 4px;
    }

    .catalog__items {
        grid-template-columns: 329px;
        grid-template-rows: 495px;
    }

    .review__content__statistics {
        gap: 0px;
    }

    .products__catalog {
        grid-template-columns: 329px;
        grid-template-rows: 495px;
    }

    .right__console {
        width: 306px;
    }

    .right__console input {
        padding: 12px 55px 13px 30px;
    }
}